@import "variables";
// utility css
.flex {
    .column-4 {
        flex: 1 1 100%;

        @media only screen and (min-width: 768px) {
            flex: 1 1 33%;
            min-width: 33%;
        }
    }

    .column-6 {
        flex: 1 1 100%;

        @media only screen and (min-width: 640px) {
            flex: 0 1 50%;
            min-width: 50%;
        }
    }

    .column-lg-4 {
        @media only screen and (min-width: 768px) {
            flex: 0 1 33%;
            min-width: 33%;
        }
    }
}

//end of utility css

body {
    font-family: "Raleway", sans-serif;
}
header {
    nav {
        width: calc(100% - 2rem);
        box-shadow: -5px 0 10px 0 rgba($color: #3f3e3e, $alpha: 0.05), 5px 0 10px 0 rgba($color: #3f3e3e, $alpha: 0.05),
            0 -5px 10px 0 rgba($color: #3f3e3e, $alpha: 0.05), 0 2px 10px 0 rgba($color: #3f3e3e, $alpha: 0.05);

        @media only screen and (min-width: 640px){
            width: calc(100% - 8rem);
            margin-left: -1rem;
        }
        @media only screen and (min-width: 768px) {
            width: calc(100% - 5rem);
            margin-left: -1rem;
        }
        @media only screen and (min-width: 992px) {
            width: calc(100% - 3rem);
            margin-left: 0;
        }
        @media only screen and (min-width: 1280px) {
            width: calc(100% - 12rem);
        }     
        li{
            &.active{
                color: $secondary_color;
            }
            &:hover{
                color: $secondary_color;
            }
        }
    }
    ul{
        font-size: 13px;
    }
    div.mobile-menu{
        width: calc(100% - 2rem);

        @media only screen and (min-width: 640px){
            width: calc(100% - 8rem);
            margin-left: -1rem;
        }
        @media only screen and (min-width: 768px) {
            width: calc(100% - 5rem);
            margin-left: -1rem;
        }
        @media only screen and (min-width: 992px) {
            width: calc(100% - 3rem);
            margin-left: 0;
        }
        @media only screen and (min-width: 1280px) {
            width: calc(100% - 12rem);
        }     
    }
    nav.nav-mobile-style {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    div.mobile-menu-open{
        position: absolute;
        display: block;
        li:hover{
            cursor: pointer;
            background-color: rgba(128, 128, 128, 0.212);
        }
    }
}
img {
    &#logo {
        @media only screen and (max-width: 767px) {
            max-width: 10rem;
            height: auto;
        }
    }
}

section {
    &#intro {
        background-image: url("../../images/banner-bg.png");
        background-size: auto 100vh;
        background-repeat: no-repeat;
        background-origin: padding-box;
        background-position: center top;

        @media only screen and (min-width: 640px) {
            background-size: 100% 120vh;
        }

        @media only screen and (min-width: 1280px) {
            background-size: 100% 105vh;
        }

        button {
            background-color: $secondary_color;
            font-size: 13px;
            &:hover{
                background-color: $primary_color
            }
        }
    }
}

.value-cards {
    .card {
        box-shadow: 0 0 20px 20px rgba($color: #3f3e3e, $alpha: 0.05);
        div.img-rounded {
            background-color: $primary_color;
        }
        &:hover{
            div.img-rounded {
                background-color: $secondary_color;
            }
            cursor: pointer;
        }
    }
}

.image-copy-group {
    overflow: hidden;
    div.image-copy {
        flex-basis: 100%;
        min-width: 100%;

        figure {
            .rounded-full {
                width: 100px;
                height: 100px;
            }
        }
        .img-box {
            &:nth-of-type(1){
                transform: translateX(-700px);
            }
            &:nth-of-type(2) {
                transform: translateX(700px);
            }
            transition: transform 2s;
        }
    
        &.inview{
            .img-box {
                transform: translate(0);
            }
        }
    }
}

.hamburger-icon{
    cursor: pointer;
    span{
        padding-top: 2px;
        width: 25px;
        background-color: rgba(0, 0, 0, 0.719);
        &:nth-of-type(2){
            width: 35px;
            margin: 10px 0;
        }
    }
}
