section {
    &#intro {


        header {
            background-image: url("../../images/banner-bg.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-origin: border-box;
        }
    }
}